# Т-банк конфигурация для сервера
# Скопируйте этот файл как .env.tbank на сервере
# Этот файл НЕ должен попадать на GitHub!

# Замените на новые данные после смены в Т-банк Бизнес
TBANK_MERCHANT_ID=200000001691412
TBANK_API_KEY=1761136519162DEMO
TBANK_SECRET_KEY=TY#iAnEUV*3CS&Bl

# Дополнительные настройки
TBANK_API_URL=https://api.tbank.ru/v1/payments
TBANK_WEBHOOK_URL=https://hochupravaeasy.ru/api/tbank-webhook
